body{

    background-color: #9fae4c;

}

.boton{

    background-color: #a84f2e;
    border: none;
    height: 200px;
    width: 200px;
    color: #b49c31;
    font-size: 50px;
    border-radius: 25px;

}

.texto{

    color: #3a5c1f;
    font-size: 100px;

}

.textos{

    color: #E8E6D9;
    font-size: 50px;

}

.box{

    background-color: #b49c31;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 25px;

}