body{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #374e5f;

}

.titulo{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0%;
    color: #69130c;
    font-size: 800%;
    margin-bottom: 15%;
    font-family: "Jolly Lodger", system-ui;    

}

.historia{

    margin-top: -10%;
    font-size: 130%;
    margin-bottom: -50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 

    'a b'
    'a c'

}

.historia_apartados{

    height: 60%;
    background-color: rgb(112, 128, 144);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.historia_apartados--a{

    margin-right: 1%;
    margin-left: 10%;
    padding: 2.5%;
    grid-area: a;

}

.historia_apartados--b{

    height: 49%;
    margin-left: 1%;
    margin-right: 10%;
    grid-area: b;
    padding: 5%;

}

.historia_apartados--c{

    height: 50%;
    margin-top: -29.5%;
    margin-left: 1%;
    margin-right: 10%;
    grid-area: c;
    padding: 5%;

}

.historia_img{

    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;

}

.historia_mensaje{

    color: #95170f;
    font-size: 500%;
    font-family: "Jolly Lodger", system-ui;    
    margin-top: -2%;
    margin-bottom: 1%;

}

.boton{

    margin-top: 25%;
    margin-bottom: 10%;

}

.boton_color{

    font-family: "Jolly Lodger", system-ui;
    background-color: #95170f;
    color: #000000;
    font-size:200%;
    border: none;
    border-radius: 25px;
    margin-top: 5%;
    margin-left: 45%;
    margin-bottom: 5%;
    padding: 1%;
    text-decoration: none;

}

/* FOOTER */

.footer-gridContainer {
    border-top: 1px solid #a3a3b7;
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 32px;
    margin-bottom: 32px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-column a {
    text-decoration: none;
    color:#a3a3b7;
    font-size: 18px;
    margin-top: 10px;


}
.footer-column a:hover {
    color:#95170f;
}
.footer-bottom {
    border-top: 1px solid #a3a3b7;
    padding-top: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    color:#a3a3b7;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer-links {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
    padding: 0;
    list-style: none;
    color:#a3a3b7;
}
.footer-links a:hover {
    color:#95170f;
}

