body{

    height: 3000px;
    background-color: #1c2a34;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.nav{

    position: sticky;
    top: 2%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 200%;
    margin: 1% 8% 5% 8%;

}

.nav_link{

    background-color:rgb(112, 128, 144);
    padding: 2%;
    padding-top: 20%;
    margin-top: -20%;
    text-decoration: none;
    color: #000000;
    font-weight: bold;

}

.nav_link--1{

    padding-left: 40%;
    margin-left: -40%;
    padding-right: 40%;
    margin-right: -40%;

}

.nav_link--2{

    padding-right: 40%;
    margin-right: -40%;

}

.nav_link--3{

    padding-right: 40%;
    margin-right: -40%;

}

.nav_link--color{

    color: #95170f;
    font-weight: bolder;
    padding-right: 40%;
    margin-right: -40%;

}

:hover.nav_link{

    color: #95170f;
    transition: 0.5s;

}

:hover.nav_link--color{

    color: #000000;

}

header{

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 3%;
    height: 65vh;

}

.header_titulo{

    position: relative;
    color: #95170f;
    font-size: 2000%;
    margin-bottom: -3%;
    font-family: "Jolly Lodger", system-ui;
    animation-name: myAnimation;
    animation-duration: 3s;  
    animation-fill-mode: forwards;

}

@keyframes myAnimation {
  from {top: -400px;}
  to {top: 0px}
}

.header_boton{

    font-family: "Jolly Lodger", system-ui;
    width: 15%;
    height: 20%;
    background-color: #95170f;
    color: #000000;
    font-size: 550%;
    border: none;
    border-radius: 25px;
    margin-top: 0px;

}

:hover.header_boton{

    background-color: white;
    transition: 0.5s;

}

.header_eslogan{

    color: #000000;
    font-size: 300%;
    margin-bottom: 5%;
    font-weight: bold;

}

.descripcion{

    height: 35%;
    margin-top: 18%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 

    'a b'
    'a c'

}

.descripcion_box{

    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.descripcion_box--a{

    height: 77%;
    background-color: rgb(112, 128, 144);
    grid-area: a;
    margin: 5%;

}

.descripcion_box--b{

    height: 60%;
    background-color: rgb(112, 128, 144);
    grid-area: b;
    margin: 5%;

}

.descripcion_box--c{

    height: 100%;
    background-color: rgb(112, 128, 144);
    grid-area: c;
    margin: 5%;
    margin-top: -30%;
}

.tarjetas{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    background-color: rgb(112, 128, 144);
    margin: 20% 2% 2% 2%;
    padding: 2%;
    border-radius: 25px;

}

.tarjetas_box{

    width: 30%;
    height: 100%;
    background-color: #1c2a34;
    border-radius: 25px;

}

.descripcion_texto{

    margin: 5%;
    font-size: 150%;
    justify-content: center;
    align-items: center;

}

.titulo{

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10%;
    color: #000000;
    font-size: 500%;
    font-family: "Jolly Lodger", system-ui;

}

.descripcion_imagen{

    width: 90%;
    margin-top: 5%;
    object-fit: cover;
    border-radius: 25px;

}

.descripcion_imagen--1{

    height: 60%;

}

.descripcion_imagen--2{

    height: 60%;

}

.descripcion_imagen--3{

    height: 60%;

}

.footer{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(112, 128, 144);

}

.footer_logo{

    width: 5%;
    margin-left: 2%;

}

.footer_texto{

    font-weight: bold;
    font-size: 115%;
    margin-right: 2%;

}